<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangry-Go-Where</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Main Content (Top Bar) -->
    <div class="top-bar">
        <h1>Hangry-Go-Where</h1>
        <!-- Generate Random Button -->
        <div class="generate-random">
            <button class="btn btn-primary btn-lg" onclick="generateRandom()">Give me a suggestion!</button>
            <!-- Container for the random result -->
            <div id="randomResultContainer"></div>
        </div>
    </div>
    <!-- Sidebar and Map Section -->
    <div class="flex-container">

        <!-- Sidebar for Top Suggested Places -->
        <aside class="sidebar">
            <h2>Top Suggested Places</h2>
            <!-- Display top suggested places here -->
        </aside>

        <!-- Map Section -->
        <div id="map" class="map-container"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <script src="/script.js"></script>
</body>

</html>
