body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
;
}

.top-bar {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.generate-random {
    margin-top: 10px;
}

/* Container for Sidebar and Map */
.flex-container {
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
}

/* Map Styles */
.map-container {
    width: 50%;
    height: 100vh;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
    }

    .top-suggested-places,
    .map-container {
        width: 100%;
    }
}
